* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Merriweather Sans;
}

.main-title {
  font-size: 3.5vw;
  margin: 33.768;
  cursor: default;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.item {
  margin-top: 10px;
  width: 200px;
  height: 280px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  color: gray;
}

.item:hover {
  color: white;
}

.profileimg {
  width: 100%;
  border-radius: 4px;
  height: 200px;
}

.profileimg:hover {
  border: 3px solid white;
}

.adicionar {
  padding: 40px;
}

.adicionar:hover {
  background-color: rgb(214, 214, 214);
}

.title-profile {
  font-size: 1.3vw;
  padding: 5px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.adicionarBtn:hover {
  border: 2px solid white !important;
  background-color: rgb(212, 212, 212);
}

.gerenciarbtn {
  background-color: transparent;
  border: 1px solid grey;
  color: grey;
  cursor: pointer;
  display: block;
  font-size: 1.2vw;
  letter-spacing: 2px;
  margin: 34.56px 0 17.28px;
  padding: 0.5em 1.5em;
}

.gerenciarbtn:hover {
  color: white;
  border-color: white;
}


/* Responsividade */

@media (min-width: 2517px){
  .title-profile{
    font-size: 24.4px;
  }
}

@media screen and (min-width: 1989px) and (max-width: 2627px){
  .item{
    width: 250px;
    height: 330px;
  }
  .profileimg{
    height: 250px;
  }
}

@media (max-width: 1230px){
  .profile{
    gap: 10px;
  }
  .item{
    width: 130px;
    height: 210px;
  }
  .profileimg{
    height: 130px;
  }
  .title-profile{
    font-size: 16.1px;
  }
  .gerenciarbtn{
    font-size: 18px;
  }
  .main-title{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
  }

  .adicionar{
    padding: 26px;
  }
}

@media (max-width: 750px){
  .item{
    width: 130px;
    height: 210px;
  }
  .profileimg{
    height: 130px;
  }

  .title-profile{
    font-size: 16px;
  }

  .gerenciarbtn{
    font-size: 18px;
  }
}

@media (max-width: 540px){
  .main-title{
    font-size: 40px;
  }
}



@media (max-width: 449px){
  .item{
    width: 120px;
    height: 200px;
  }
  .profileimg{
    height: 120px;
  }
  .title-profile{
    font-size: 10px;
  }
  .main-title{
    font-size: 25px;
  }
}

@media (max-with: 414px){
  .gerenciarbtn{
    margin-top: 0px;
  }
}